<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Coralite Woodworks | {{ portfolioFull }}</title>
    {% include 'wrapper/header.html' %}
</head>
<body>

<!-- Header -->
<div id="header" class="skel-layers-fixed">

    <div class="top">

        <!-- Logo -->
        <div id="logo">
            <a href="{{ url_for('main') }}">
                <img src="{{ url_for('static', filename='images/Logo Brown.jpg') }}" width="100%" height=""
                     alt="Coralite Woodworks, LLC.">
            </a>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <!--

                Prologue's nav expects links in one of two formats:

                1. Hash link (scrolls to a different section within the page)

                   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

                2. Standard link (sends the user to another page/site)

                   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

            -->
            <ul>
                <li>
                    <a href="{{ url_for('main') }}#portfolio" id="portfolio-link">
                        <span class="icon fa-th">Design Portfolio</span>
                    </a>
                </li>
                <li>
                    <a href="#galleries" id="portfolio-link2">
                        <span class="icon fa-sitemap">{{ portfolioFull }}</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="bottom">
        {% include 'wrapper/social.html' %}
    </div>

</div>

<!-- Main -->
<div id="main">
    <!-- Portfolio -->
    <section id="galleries" class="two">
        <div class="container">
            <!-- TemplateBeginEditable name="Galleries" -->
            <header>
                <h2>{{ portfolioFull }}</h2>
            </header>

            <noscript>
                {% include 'directory/noscript.html' %}
            </noscript>

            <div class="row jsonly">
                {% include 'directory/script.html' %}
            </div>

        </div>
    </section>
</div>
<!-- TemplateEndEditable -->
<!-- Footer -->
<div id="footer">

    <!-- Copyright -->
    <ul class="copyright">
        <li>&copy; 2017 Coralite Woodworks LLC, All rights reserved.</li>
        <li>9 Dusty Lane Unit 3 • Newtown CT 06470</li>
        <li>Office <a href="tel://1-203-364-9600">(203) 364-9600</a></li>
        <li>Cell <a href="tel://1-203-943-8259">(203) 943-8259</a></li>
    </ul>

</div>

</body>

</body>
{% include 'wrapper/footer.html' %}
</html>