<!DOCTYPE HTML>
<html lang="en-us">
<head>
    <title>Coralite Woodworks | {{ portfolioFull }}</title>
    {% include 'wrapper/header.html' %}
</head>
<body>

<!-- Header -->
<div id="header" class="skel-layers-fixed">

    <div class="top">

        <!-- Logo -->
        <div id="logo">
            <a href="{{ url_for('main') }}">
                <picture>
                    <source srcset="{{ url_for('static', filename='images/Logo Brown.webp') }}" type="image/webp">
                    <source srcset="{{ url_for('static', filename='images/Logo Brown.jpg') }}" type="image/jpeg">
                    <img src="{{ url_for('static', filename='images/Logo Brown.jpg') }}" width="100%" height=""
                         alt="Coralite Woodworks, LLC.">
                </picture>
            </a>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li>
                    <a href="{{ url_for('main') }}#portfolio" id="portfolio-link">
                        <span class="icon fa-th">Design Portfolio</span>
                    </a>
                </li>
                <li>
                    <a href="#about" id="about-link">
                        <span class="icon fa-picture-o">Gallery</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for(portfolio.lower()) }}" id="about-link">
                        <span class="icon fa-sitemap ">{{ portfolioFull }}</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="bottom">
        {% include 'wrapper/social.html' %}
    </div>

</div>

<!-- Main -->
<div id="main">

    <!-- About Me -->
    <section id="about" class="three">
        <div class="container">
            <div id="{{ gallery_id }}">...</div>
            <script type="text/javascript">
                var cpo = [];
                cpo["_object"] = "{{ gallery_id }}";
                cpo["_fid"] = "{{ cpo }}";
                var _cpmp = _cpmp || [];
                _cpmp.push(cpo);
                (function () {
                    var cp = document.createElement("script");
                    cp.type = "text/javascript";
                    cp.async = true;
                    cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
                    var c = document.getElementsByTagName("script")[0];
                    c.parentNode.insertBefore(cp, c);
                })(); </script>
            {% if description != "" %}
                <p>
                    {{ description }}
                </p>
            {% endif %}
            {% if location != "" %}
                <p>
                    <span class="fa fa-map-marker"></span> {{ location }}
                </p>
            {% endif %}
        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="four">
        <div class="container">
            {% if id != 1 %}
                <a href="{{ id - 1 }}" class="button scrolly">Previous Gallery</a>
            {% endif %}
            <a href="{{ url_for(portfolio.lower()) }}" class="button scrolly">Back to {{ portfolioFull }}</a>
            {% if id != row %}
                <a href="{{ id + 1 }}" class="button scrolly">Next Gallery</a></div>
            {% endif %}
    </section>
    <section id="nav" class="four">
        <div class="container">
            <a href="{{ url_for('main') }}#portfolio" class="button scrolly">Back to Design Portfolio</a></div>
    </section>
</div>

<!-- Footer -->
<div id="footer">

    <!-- Copyright -->
    <ul class="copyright">
        <li>&copy; 2018 Coralite Woodworks LLC, All rights reserved.</li>
        <li>9 Dusty Lane Unit 3 • Newtown CT 06470</li>
        <li>Office <a href="tel://1-203-364-9600">(203) 364-9600</a></li>
        <li>Cell <a href="tel://1-203-943-8259">(203) 943-8259</a></li>
    </ul>

</div>

</body>
{% include 'wrapper/footer.html' %}
</html>