<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Coralite Woodworks | {{ portfolioFull }}</title>
    {% include 'wrapper/header.html' %}
</head>
<body>

<!-- Header -->
<div id="header" class="skel-layers-fixed">

    <div class="top">

        <!-- Logo -->
        <div id="logo">
            <a href="{{ url_for('main') }}">
                <img src="{{ url_for('static', filename='images/Logo Brown.jpg') }}" width="100%" height=""
                     alt="Coralite Woodworks, LLC.">
            </a>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <!--

                Prologue's nav expects links in one of two formats:

                1. Hash link (scrolls to a different section within the page)

                   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

                2. Standard link (sends the user to another page/site)

                   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

            -->
            <ul>
                <li>
                    <a href="{{ url_for('main') }}#portfolio" id="portfolio-link">
                        <span class="icon fa-th">Design Portfolio</span>
                    </a>
                </li>
                <li>
                    <a href="#about" id="about-link">
                        <span class="icon fa-picture-o">Gallery</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for(portfolio.lower()) }}" id="about-link">
                        <span class="icon fa-sitemap ">{{ portfolioFull }}</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="bottom">
        {% include 'wrapper/social.html' %}
    </div>

</div>

<!-- Main -->
<div id="main">

    <!-- About Me -->
    <section id="about" class="three">
        <div class="container">

            <!-- TemplateBeginEditable name="Gallery" -->
            <p>
            <div id="{{ gallery_id }}">...</div>
            <script type="text/javascript">
                var cpo = [];
                cpo["_object"] = "{{ gallery_id }}";
                cpo["_fid"] = "{{ cpo }}";
                var _cpmp = _cpmp || [];
                _cpmp.push(cpo);
                (function () {
                    var cp = document.createElement("script");
                    cp.type = "text/javascript";
                    cp.async = true;
                    cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
                    var c = document.getElementsByTagName("script")[0];
                    c.parentNode.insertBefore(cp, c);
                })(); </script>
            </p>
            <!-- TemplateEndEditable -->
            <p>
                {{ description }}
            </p>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="four">
        <div class="container">
            {% if id != 1 %}
                <a href="{{ id - 1 }}" class="button scrolly">Previous Gallery</a>
            {% endif %}
            <a href="{{ url_for(portfolio.lower()) }}" class="button scrolly">Back to {{ portfolioFull }}</a>
            {% if id != row %}
                <a href="{{ id + 1 }}" class="button scrolly">Next Gallery</a></div>
            {% endif %}
    </section>
    <section id="nav" class="four">
        <div class="container">
            <a href="{{ url_for('main') }}#portfolio" class="button scrolly">Back to Design Portfolio</a></div>
    </section>
</div>

<!-- Footer -->
<div id="footer">

    <!-- Copyright -->
    <ul class="copyright">
        <li>&copy; 2017 Coralite Woodworks LLC, All rights reserved.</li>
        <li>9 Dusty Lane Unit 3 • Newtown CT 06470</li>
        <li>Office <a href="tel://1-203-364-9600">(203) 364-9600</a></li>
        <li>Cell <a href="tel://1-203-943-8259">(203) 943-8259</a></li>
    </ul>

</div>

</body>
{% include 'wrapper/footer.html' %}
</html>