{% extends 'extend/template.html' %}
{% block title %}
    <title>Coralite Woodworks | {{ portfolioFull }}</title>
{% endblock %}
{% block metadata %}
    {{ super() }}
    <meta name="twitter:title" content="Coralite Woodworks | {{ portfolioFull }}">
    <meta property="og:image"
          content="{{ url_for('static', filename = ('images/' ~ portfolio.lower() ~ '/1.jpg')) }}"/>
    <meta name="twitter:image"
          content="{{ url_for('static', filename = ('images/' ~ portfolio.lower() ~ '/1.jpg')) }}"/>
{% endblock %}

{% block nav %}
    <nav id="nav">
        <ul>
            <li>
                <a href="{{ url_for('main') }}#portfolio" id="portfolio-link">
                    <span class="icon fa-th">Design Portfolio</span>
                </a>
            </li>
            <li>
                <a href="#galleries" id="portfolio-link2">
                    <span class="icon fa-sitemap">{{ portfolioFull }}</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <div id="main">
        <!-- Portfolio -->
        <section id="galleries" class="two">
            <div class="container">
                <header>
                    <h2>{{ portfolioFull }}</h2>
                </header>

                {% include 'directory/noscript.html' %}
            </div>
        </section>
    </div>
{% endblock %}
