<!DOCTYPE HTML>
<html lang="en-us">
<head>
    <title>Coralite Woodworks | {{ portfolioFull }}</title>
    {% include 'wrapper/header.html' %}
</head>
<body>

<!-- Header -->
<div id="header" class="skel-layers-fixed">

    <div class="top">

        <!-- Logo -->
        <div id="logo">
            <a href="{{ url_for('main') }}">
                <picture>
                    <source srcset="{{ url_for('static', filename='images/Logo Brown.webp') }}" type="image/webp">
                    <source srcset="{{ url_for('static', filename='images/Logo Brown.jpg') }}" type="image/jpeg">
                    <img src="{{ url_for('static', filename='images/Logo Brown.jpg') }}" width="100%" height=""
                         alt="Coralite Woodworks, LLC.">
                </picture>
            </a>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li>
                    <a href="{{ url_for('main') }}#portfolio" id="portfolio-link">
                        <span class="icon fa-th">Design Portfolio</span>
                    </a>
                </li>
                <li>
                    <a href="#galleries" id="portfolio-link2">
                        <span class="icon fa-sitemap">{{ portfolioFull }}</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="bottom">
        {% include 'wrapper/social.html' %}
    </div>

</div>

<!-- Main -->
<div id="main">
    <!-- Portfolio -->
    <section id="galleries" class="two">
        <div class="container">
            <header>
                <h2>{{ portfolioFull }}</h2>
            </header>

            {% include 'directory/noscript.html' %}
        </div>
    </section>
</div>

{% include 'wrapper/footer.html' %}

</body>

</body>
{% include 'wrapper/scripts.html' %}
</html>
