<!DOCTYPE HTML>
<html lang="en-us">

<head>
    <title>Coralite Woodworks</title>
    {% include 'wrapper/header.html' %}
</head>

<body>
<!-- Header -->
<div id="header" class="skel-layers-fixed">

    <div class="top">

        <!-- Logo -->
        <div id="logo">
            <a href="{{ url_for('main') }}">
                <picture>
                    <source srcset="{{ url_for('static', filename='images/Logo Brown.webp') }}" type="image/webp">
                    <source srcset="{{ url_for('static', filename='images/Logo Brown.jpg') }}" type="image/jpeg">
                    <img src="{{ url_for('static', filename='images/Logo Brown.jpg') }}" width="100%" height=""
                         alt="Coralite Woodworks, LLC.">
                </picture>
            </a>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li>
                    <a href="#portfolio" id="portfolio-link">
                        <span class="icon fa-th">Design Portfolio</span>
                    </a>
                </li>
                <li>
                    <a href="#about" id="about-link">
                        <span class="icon fa-user">About Us</span>
                    </a>
                </li>
                <li>
                    <a href="#testimonials" id="testimonial-link">
                        <span class="icon fa-comments">Testimonials</span>
                    </a>
                </li>
                <li>
                    <a href="#contact" id="contact-link">
                        <span class="icon fa-envelope">Contact Us</span></a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="bottom">
        {% include 'wrapper/social.html' %}
    </div>

</div>

<!-- Main -->
<div id="main">

    <!-- Intro -->
    <section id="top" class="one dark cover">
        <div class="container">

            <header>
                <picture>
                    <source srcset="{{ url_for('static', filename='images/Logo Brown.webp') }}" width="55%" height="55%"
                            type="image/webp">
                    <source srcset="{{ url_for('static', filename='images/Logo Brown.jpg') }}" width="55%" height="55%"
                            type="image/jpeg">
                    <img src="{{ url_for('static', filename='images/Logo Brown.jpg') }}" width="55%"
                         height="55%" alt="Coralite Logo"/>
                </picture>
                <h1 hidden>Coralite Woodworks LLC.</h1>
            </header>

            <footer>
                <ul class="icons">
                    <li><a style="text-shadow: 2px 2px #5b0000" href="mailto:coralitewoodworks@gmail.com" title="Email"
                           class="icon fa-envelope"><span class="label">Email</span></a></li>
                    <li><a style="text-shadow: 2px 2px #5b0000" href="tel://1-203-364-9600" title="Phone"
                           class="icon fa-phone"><span class="label">Phone</span></a></li>
                </ul>
            </footer>

        </div>
    </section>

    <!-- Portfolio -->
    <section id="portfolio" class="two">
        <div class="container">
            <header>
                <h2>Design Portfolio</h2>
            </header>

            {% include 'portfolio/noscript.html' %}
        </div>
    </section>

    <!-- About Me -->
    <section id="about" class="three">
        <div class="container">

            <header>
                <h2>About Us</h2>
            </header>
            <p>Coralite Woodworks specialize in residential remodeling, custom kitchens, master bedrooms, designer
                bathrooms, second stories and room additions. We are a full service Design-Build Company
                with custom cabinet and trim manufacturing
                facility. Now also offering more options with our new Stock Cabinets and Semi-Custom lines. Choose
                between Custom, Semi-Custom and stock cabinets, giving you the customer more options and value to choose
                from without sacrificing quality. We are an independent, licensed, fully-insured and owner-operated
                company with over 25 years experience in the construction, architectural design and the woodworking
                field. </p>
            <p>We offer complimentary design consultation for all projects to guide you in designing what best suit your
                space, style and needs. Creating spaces in your home that is comfortable, inviting and dynamic. We offer
                designs in a variety of styles in order
                to reach that perfect balance of comfort and functionality. Creating the dream space that emphasizes
                your personal taste and enhances the charm and value of your home. Add elegance and style your family
                will enjoy for years to come. </p>
            <p>Certification and Memberships: Owner Brian L. Matté has been Certified in EPA lead removal safety since
                2010 and Coralite Woodworks LLC. is a EPA Certified Firm. Coralite Woodworks LLC. is a member of the
                Home Builders &amp; Remodeling Assn of Fairfield County.
            </p>
            <p>For more information or to schedule an appointment for a Free design consultation please call or email
                Brian directly below</p>
        </div>
    </section>

    <!-- Testimonials -->
    <section id="testimonials" class="three">
        <div class="container">
            <header>
                <h2>Testimonials</h2>
            </header>
            <ul class="icons">
                {% for testimonial in testimonials %}
                    <li class="testimonial"> "{{ testimonial.content }}"
                        <a href="{{ testimonial.link }}"
                           class="icon fa-{{ testimonial.source }}" target="_blank" rel="noopener"
                           title="{{ testimonial.source|title }}"></a>
                    </li>
                {% endfor %}
            </ul>
            <a href="{{ url_for('testimonials') }}" class="button">Read More</a>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="four">
        <div class="container">

            <header>
                <h2>Contact Us</h2>
            </header>
            <table width="200" border="1">
                <ul class="icons">
                    <li>
                        <a href="https://www.facebook.com/Coralitewoodworks/" rel="noopener" class="icon fa-facebook"
                           target="_blank" title="Facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.linkedin.com/pub/brian-matte/72/89/1a6" rel="noopener"
                           class="icon fa-linkedin" target="_blank" title="LinkedIn"><span class="label">LinkedIn</span></a>
                    </li>
                    <li><a href="https://www.houzz.com/pro/coralite/coralite-woodworks-llc" rel="noopener"
                           class="icon fa-houzz" target="_blank" title="Houzz"><span class="label">Houzz</span></a></li>
                    <li><a href="https://www.instagram.com/coralitewoodworks/" class="icon fa-instagram" rel="noopener"
                           target="_blank" title="Instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="https://plus.google.com/u/0/+CoraliteWoodworksLLCNewtown" class="icon fa-google"
                           rel="noopener" target="_blank" title="Google"><span class="label">Google</span></a></li>
                    <li><a href="mailto:coralitewoodworks@gmail.com" class="icon fa-envelope" title="Email"><span
                            class="label">Email</span></a></li>
                    <li><a href="tel://1-203-364-9600" class="icon fa-phone" title="Phone"><span
                            class="label">Phone</span></a></li>
                </ul>
                <tbody>
                <tr>
                    <td>Coralite Woodworks, LLC 9 Dusty Lane, Unit #3 Newtown, CT 06470</td>
                </tr>
                <tr>
                    <td>Connecticut Home improvement Contractor Reg. #: 583674</td>
                </tr>
                <tr>
                    <td>
                        <a href="tel://1-203-943-8259"><span
                                class="label">Cell Number</span></a> <a href="tel://1-203-943-8259">(203) 943-8259</a>
                        <br>
                        <a href="tel://1-203-364-9600"><span
                                class="label">Office Number</span></a> <a href="tel://1-203-364-9600">(203) 364-9600</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="mailto:coralitewoodworks@gmail.com"> Brian@coralitewoodworks.com </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </section>

</div>

<!-- Footer -->
<div id="footer">

    <!-- Copyright -->
    <ul class="copyright">
        <li>&copy; 2018 Coralite Woodworks LLC, All rights reserved.</li>
        <li>9 Dusty Lane Unit 3 • Newtown CT 06470</li>
        <li>Office <a href="tel://1-203-364-9600">(203) 364-9600</a></li>
        <li>Cell <a href="tel://1-203-943-8259">(203) 943-8259</a></li>
    </ul>

</div>

<!--
<script>
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register("{{ url_for('static', filename='service-worker.js') }}");
}
</script>
-->

</body>
{% include 'wrapper/footer.html' %}
</html>