<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Coralite Woodworks</title>
    {% include 'wrapper/header.html' %}
</head>

<body>
<!-- Header -->
<div id="header" class="skel-layers-fixed">

    <div class="top">

        <!-- Logo -->
        <noscript>
            <div id="logo">
                <a href="{{ url_for('main') }}"><img src="{{ url_for('static', filename='images/Logo Brown.jpg') }}"
                                                     width="100%" height="" alt="Coralite Logo"></a>
            </div>
        </noscript>
        <div id="logo jsonly">
            <a href="{{ url_for('main') }}"><img class="lazy"
                                                 data-src="{{ url_for('static', filename='images/Logo Brown.jpg') }}"
                                                 width="100%" height="" alt="Coralite Logo" src=""></a>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Design Portfolio</span></a>
                </li>
                <li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span
                        class="icon fa-user">About Us</span></a></li>
                <li><a href="#testimonials" id="testimonial-link" class="skel-layers-ignoreHref"><span
                        class="icon fa-comments">Testimonials</span></a></li>
                <li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact Us</span></a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="bottom">
        {% include 'wrapper/social.html' %}
    </div>

</div>

<!-- Main -->
<div id="main">

    <!-- Intro -->
    <section id="top" class="one dark cover">
        <div class="container">

            <noscript>
                <header>
                    <img src="{{ url_for('static', filename='images/Logo Brown.jpg') }}" width="55%"
                         height="55%" alt="Coralite Logo"/>
                    <p></p>
                </header>
            </noscript>

            <header class="jsonly">
                <img class="lazy" data-src="{{ url_for('static', filename='images/Logo Brown.jpg') }}" width="55%"
                     height="55%" alt="Coralite Logo" src=""/>
                <p></p>
            </header>

            <footer>
                <ul class="icons">
                    <li><a style="text-shadow: 2px 2px #5b0000" target="_blank"
                           href="https://www.facebook.com/Coralitewoodworks/"
                           class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a style="text-shadow: 2px 2px #5b0000" target="_blank"
                           href="http://www.linkedin.com/pub/brian-matte/72/89/1a6" class="icon fa-linkedin"><span
                            class="label">Linkedin</span></a></li>
                    <li><a style="text-shadow: 2px 2px #5b0000" target="_blank"
                           href="http://www.houzz.com/pro/coralite/coralite-woodworks-llc" class="icon fa-houzz"><span
                            class="label">Houzz</span></a></li>
                    <li><a style="text-shadow: 2px 2px #5b0000" target="_blank"
                           href="https://www.instagram.com/coralitewoodworks/" class="icon fa-instagram"><span
                            class="label">Instagram</span></a></li>
                    <li><a style="text-shadow: 2px 2px #5b0000" target="_blank"
                           href="https://plus.google.com/u/0/+CoraliteWoodworksLLCNewtown"
                           class="icon fa-google"><span class="label">Google</span></a></li>
                    <li><a style="text-shadow: 2px 2px #5b0000" href="mailto:coralitewoodworks@gmail.com"
                           class="icon fa-envelope"><span class="label">Email</span></a></li>
                    <li><a style="text-shadow: 2px 2px #5b0000" href="tel://1-203-364-9600"
                           class="icon fa-phone"><span class="label">Phone</span></a></li>
                </ul>
            </footer>

        </div>
    </section>

    <!-- Portfolio -->
    <section id="portfolio" class="two">
        <div class="container">

            <header>
                <h2>Design Portfolio</h2>
            </header>
            <noscript>
                {% include 'portfolio/noscript.html' %}
            </noscript>
            <div class="row jsonly">
                <div class="4u">
                    <article class="item">
                        <a href="{{ url_for('additions') }}" class="image fit">
                            <img class="lazy"
                                 data-src="{{ url_for('static', filename='images/Design Portfolio Photos/Additions.jpg') }}"
                                 alt="Additions &amp; Renovations"
                                 src=""/></a>
                        <header>
                            <h3>Additions &amp; Renovations</h3>
                        </header>
                    </article>
                    <article class="item">
                        <a href="{{ url_for('builtins') }}" class="image fit">
                            <img class="lazy"
                                 data-src="{{ url_for('static', filename='images/Design Portfolio Photos/Built In.jpg') }}"
                                 alt="Built-ins &amp; Bookcases"
                                 src=""/></a>
                        <header>
                            <h3>Built-ins &amp; Bookcases</h3>
                        </header>
                    </article>
                    <article class="item">
                        <a href="{{ url_for('kitchens') }}" class="image fit">
                            <img class="lazy"
                                 data-src="{{ url_for('static', filename='images/Design Portfolio Photos/Kitchens.jpg') }}"
                                 alt="Kitchens" src=""/></a>
                        <header>
                            <h3>Kitchens</h3>
                        </header>
                    </article>
                    <article class="item">
                        <a href="{{ url_for('paneling') }}" class="image fit">
                            <img class="lazy"
                                 data-src="{{ url_for('static', filename='images/Design Portfolio Photos/Paneling.jpg') }}"
                                 alt="Paneling &amp; Wainscoting"
                                 src=""/></a>
                        <header>
                            <h3>Paneling &amp; Wainscoting</h3>
                        </header>
                    </article>
                </div>
                <div class="4u">
                    <article class="item">
                        <a href="{{ url_for('basements') }}" class="image fit">
                            <img class="lazy"
                                 data-src="{{ url_for('static', filename='images/Design Portfolio Photos/Basements.jpg') }}"
                                 alt="Basements" src=""/></a>
                        <header>
                            <h3>Basements</h3>
                        </header>
                    </article>
                    <article class="item">
                        <a href="{{ url_for('decks') }}" class="image fit">
                            <img class="lazy"
                                 data-src="{{ url_for('static', filename='images/Design Portfolio Photos/Decks.jpg') }}"
                                 alt="Decks &amp; Porches" src=""/></a>
                        <header>
                            <h3>Decks &amp; Porches</h3>
                        </header>
                    </article>
                    <article class="item">
                        <a href="{{ url_for('mantels') }}" class="image fit">
                            <img class="lazy"
                                 data-src="{{ url_for('static', filename='images/Design Portfolio Photos/Mantels.jpg') }}"
                                 alt="Mantels" src=""/></a>
                        <header>
                            <h3>Mantels</h3>
                        </header>
                    </article>
                    <article class="item">
                        <a href="{{ url_for('tv') }}" class="image fit">
                            <img class="lazy"
                                 data-src="{{ url_for('static', filename='images/Design Portfolio Photos/TV Entertainment.jpg') }}"
                                 alt="TV Entertainment Centers" src=""/></a>
                        <header>
                            <h3>TV Entertainment Centers</h3>
                        </header>
                    </article>
                    <article class="item">
                        <a href="{{ url_for('stock') }}" class="image fit">
                            <img class="lazy"
                                 data-src="{{ url_for('static', filename='images/Design Portfolio Photos/Stock Cabinets.jpg') }}"
                                 alt="Stock Cabinets" src=""/></a>
                        <header>
                            <h3>Stock Cabinets</h3>
                        </header>
                    </article>
                </div>
                <div class="4u">
                    <article class="item">
                        <a href="{{ url_for('bathrooms') }}" class="image fit">
                            <img class="lazy"
                                 data-src="{{ url_for('static', filename='images/Design Portfolio Photos/Bathrooms.jpg') }}"
                                 alt="Bathrooms &amp; Vanities"
                                 src=""/></a>
                        <header>
                            <h3>Bathrooms &amp; Vanities</h3>
                        </header>
                    </article>
                    <article class="item">
                        <a href="{{ url_for('offices') }}" class="image fit">
                            <img class="lazy"
                                 data-src="{{ url_for('static', filename='images/Design Portfolio Photos/Offices.jpg') }}"
                                 alt="Desks &amp; Offices" src=""/></a>
                        <header>
                            <h3>Desks &amp; Offices</h3>
                        </header>
                    </article>
                    <article class="item">
                        <a href="{{ url_for('mudrooms') }}" class="image fit">
                            <img class="lazy"
                                 data-src="{{ url_for('static', filename='images/Design Portfolio Photos/Mudrooms.jpg') }}"
                                 alt="Mudrooms & Closets" src=""/></a>
                        <header>
                            <h3>Mudrooms & Closets</h3>
                        </header>
                    </article>
                    <article class="item">
                        <a href="{{ url_for('bars') }}" class="image fit">
                            <img class="lazy"
                                 data-src="{{ url_for('static', filename='images/Design Portfolio Photos/Bars.jpg') }}"
                                 alt="Bars &amp; Wine Storage"
                                 src=""/></a>
                        <header>
                            <h3>Bars &amp; Wine Storage</h3>
                        </header>
                    </article>
                </div>
            </div>

        </div>
    </section>

    <!-- About Me -->
    <section id="about" class="three">
        <div class="container">

            <header>
                <h2>About Us</h2>
            </header>
            <p>Coralite Woodworks specialize in residential remodeling, custom kitchens, master bedrooms, designer
                bathrooms, second stories and room additions. Coralite Woodworks is a full service Design-Build Company
                with custom cabinet and trim manufacturing
                facility. Now also offering more options with our new Stock Cabinets and Semi-Custom lines. Choose
                between Custom, Semi-Custom and stock cabinets, giving you the customer more options and value to choose
                from without sacrificing quality. Coralite
                Woodworks is an independent, licensed, fully-insured and owner-operated company with over 25 years
                experience in the construction, architectural design and the woodworking field. </p>
            <p>We offer complimentary design consultation for all projects to guide you in designing what best suit your
                space, style and needs. Creating spaces in your home that is comfortable, inviting and dynamic. We offer
                designs in a variety of styles in order
                to reach that perfect balance of comfort and functionality. Creating the dream space that emphasizes
                your personal taste and enhances the charm and value of your home. Add elegance and style your family
                will enjoy for years to come. </p>
            <p>Certification and Memberships: Owner Brian L. Matte`has been Certified in EPA lead removal safety since
                2010 and Coralite Woodworks LLC. is a EPA Certified Firm. Coralite Woodworks LLC. is a member of the
                Home Builders &amp; Remodelers Assn of Fairfield
                County.
            </p>
            <p>For more information or to schedule an appointment for a Free design consultation please call or email
                Brian directly below</p>
        </div>
    </section>

    <!-- Testimonials -->
    <section id="testimonials" class="three">
        <div class="container">

            <header>
                <h2>Testimonials</h2>
            </header>
            <ul class="icons">
                <li>"This job was a complete finishing of our large basement. It included putting up metal studs,
                    framing, insulating, sheetrocking walls and ceilings, all electrical (20+ recessed lights), full
                    bathroom including toilet, urinal, sink, shower and cabinets,
                    gym, TV room, game room, replacing windows and doors (all Andersen), finishing stairs, building
                    railings, all trim, installing a wall fireplace and more."
                    <a href="http://www.houzz.com/viewReview/26697/Coralite-Woodworks-LLC--review"
                       class="icon fa-houzz" target="_blank"><span class="label">(elovely) - Via Houzz</span></a>
                </li>
                <li>"I have hired Coralite many times for projects ranging from kitchen cabinetry to new windows. Just
                    recently he created a new front door using the existing barn doors that were there. Brian is a true
                    craftsman with exquisite attention to detail. I
                    have been so thoroughly satisfied with his work that I continue to hire him whenever I need
                    something done. He is a perfectionist and understands what I'm looking for -- often with ideas that
                    enhance the job in ways I never thought of. Professional,
                    creative, talented and also a very nice person. It doesn't get much better than that when you hire
                    someone to come into your home. He is my first recommendation to anyone. He is excellent."<a
                            href="http://www.houzz.com/viewReview/125250/Coralite-Woodworks-LLC--review"
                            class="icon fa-houzz" target="_blank"><span class="label">(yolster16) - Via Houzz</span></a>
                </li>
                <li>"Brian is one of the best cabinet makers I have ever had been privileged to know and use..... if you
                    need and demand quality, you owe it to yourself to see his work."<a
                            href="https://www.facebook.com/Coralitewoodworks/posts/308157279225373"
                            class="icon fa-facebook" target="_blank"><span
                            class="label">(Lee Maynard) - Via Facebook</span></a></li>
            </ul>
            <a href="{{ url_for('testimonials') }}" class="button scrolly">Read More</a>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="four">
        <div class="container">

            <header>
                <h2>Contact Us</h2>
            </header>
            <table width="200" border="1">
                <ul class="icons">
                    <li>
                        <a href="https://www.facebook.com/Coralitewoodworks/"
                           class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
                    <li><a href="http://www.linkedin.com/pub/brian-matte/72/89/1a6" class="icon fa-linkedin"
                           target="_blank"><span
                            class="label">Linkedin</span></a></li>
                    <li><a href="http://www.houzz.com/pro/coralite/coralite-woodworks-llc" class="icon fa-houzz"
                           target="_blank"><span
                            class="label">Houzz</span></a></li>
                    <li><a href="https://www.instagram.com/coralitewoodworks/" class="icon fa-instagram"
                           target="_blank"><span
                            class="label">Instagram</span></a></li>
                    <li><a href="https://plus.google.com/u/0/+CoraliteWoodworksLLCNewtown"
                           class="icon fa-google" target="_blank"><span class="label">Google</span></a></li>
                    <li><a href="mailto:coralitewoodworks@gmail.com" class="icon fa-envelope"><span
                            class="label">Email</span></a></li>
                    <li><a href="tel://1-203-364-9600" class="icon fa-phone"><span class="label">Phone</span></a></li>
                </ul>
                <tbody>
                <tr>
                    <td>Coralite Woodworks, LLC 9 Dusty Lane, Unit #3 Newtown, CT 06470</td>
                </tr>
                <tr>
                    <td>Connecticut Home improvement Contractor Reg. #: 583674</td>
                </tr>
                <tr>
                    <td>
                        <a href="tel://1-203-943-8259"><span
                                class="label">Cell Number</span></a> <a href="tel://1-203-943-8259">(203) 943-8259</a>
                        <br>
                        <a href="tel://1-203-364-9600"><span
                                class="label">Office Number</span></a> <a href="tel://1-203-364-9600">(203) 364-9600</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="mailto:coralitewoodworks@gmail.com"> Brian@coralitewoodworks.com </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </section>

</div>

<!-- Footer -->
<div id="footer">

    <!-- Copyright -->
    <ul class="copyright">
        <li>&copy; 2017 Coralite Woodworks LLC, All rights reserved.</li>
        <li>9 Dusty Lane Unit 3 • Newtown CT 06470</li>
        <li>Office <a href="tel://1-203-364-9600">(203) 364-9600</a></li>
        <li>Cell <a href="tel://1-203-943-8259">(203) 943-8259</a></li>
    </ul>

</div>

</body>
{% include 'wrapper/footer.html' %}
</html>