<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Coralite Woodworks | Testimonials</title>
        {% include 'wrapper/header.html' %}
</head>

<body>

<!-- Header -->
<div id="header" class="skel-layers-fixed">

    <div class="top">

        <!-- Logo -->
        <div id="logo">
            <a href="{{ url_for('main') }}">
                <img src="{{ url_for('static', filename='images/Logo Brown.jpg') }}" width="100%" height=""
                     alt="Coralite Woodworks, LLC.">
            </a>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="{{ url_for('main') }}#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span
                        class="icon fa-th">Design Portfolio</span></a>
                </li>
                <li><a href="{{ url_for('main') }}#about" id="about-link" class="skel-layers-ignoreHref"><span
                        class="icon fa-user">About Us</span></a></li>
                <li><a href="#testimonials" id="testimonial-link" class="skel-layers-ignoreHref"><span
                        class="icon fa-comments">Testimonials</span></a></li>
                <li><a href="{{ url_for('main') }}#contact" id="contact-link" class="skel-layers-ignoreHref"><span
                        class="icon fa-envelope">Contact Us</span></a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="bottom">
        {% include 'wrapper/social.html' %}
    </div>

</div>

<!-- Main -->
<div id="main">

    <!-- Testimonials -->
    <section id="testimonials" class="three">
        <div class="container">

            <header>
                <h2>Testimonials</h2>
            </header>

            <ul class="icons">
                {% for number in range(1, row + 1) %}
                    <li> "{{ content[number - 1] }}"
                        <a href="{{ link[number - 1] }}"
                           class="icon fa-{{ source[number - 1] }}" target="_blank" rel="noopener"></a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="icons">
                <header>
                    Like us? Leave us a Review!
                </header>
                <li>
                    <a href="https://www.facebook.com/Coralite-Woodworks-Residential-Remodeling-and-Custom-Cabinetry-109644202410016/reviews/"
                       class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="http://www.houzz.com/writeReview/cmd=r/n=coralite" class="icon fa-houzz"><span
                        class="label">Houzz</span></a></li>
                <li>
                    <a href="https://www.yelp.com/writeareview/biz/a6eVvKAkpn6BoUEqll1KzQ?return_url=%2Fbiz%2Fa6eVvKAkpn6BoUEqll1KzQ"
                       class="icon fa-yelp"><span class="label">Yelp</span></a></li>
            </ul>
        </div>
    </section>
</div>

<!-- Footer -->
<div id="footer">

    <!-- Copyright -->
    <ul class="copyright">
        <li>&copy; 2017 Coralite Woodworks LLC, All rights reserved.</li>
        <li>9 Dusty Lane Unit 3 • Newtown CT 06470</li>
        <li>Office <a href="tel://1-203-364-9600">(203) 364-9600</a></li>
        <li>Cell <a href="tel://1-203-943-8259">(203) 943-8259</a></li>
    </ul>

</div>

</body>
{% include 'wrapper/footer.html' %}
</html>