<script src="{{ url_for('static', filename='components/jquery-1.11.3/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.scrollzer.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/respond.min.js') }}"></script><![endif]-->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='components/jquery-lazy/jquery.lazy.min.js') }}"></script>
{#<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>#}
{#<script src="{{ url_for('static', filename='js/jquery.onvisible.min.js') }}"></script>#}