<!-- Social Icons -->
<ul class="icons">
    <li>
        <a href="https://www.facebook.com/Coralitewoodworks/" title="Facebook" class="icon fa-facebook" target="_blank" rel="noopener">
            <span class="label">Facebook</span>
        </a>
    </li>
    <li>
        <a href="http://www.linkedin.com/pub/brian-matte/72/89/1a6" title="LinkedIn" class="icon fa-linkedin" target="_blank"
           rel="noopener">
            <span class="label">Linkedin</span>
        </a>
    </li>
    <li>
        <a href="http://www.houzz.com/pro/coralite/coralite-woodworks-llc" title="Houzz" class="icon fa-houzz" target="_blank"
           rel="noopener">
            <span class="label">Houzz</span>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/coralitewoodworks/" title="Instagram" class="icon fa-instagram" target="_blank" rel="noopener">
            <span class="label">Instagram</span>
        </a>
    </li>
    <li>
        <a href="https://plus.google.com/u/0/+CoraliteWoodworksLLCNewtown" title="Google" class="icon fa-google" target="_blank"
           rel="noopener">
            <span class="label">Google</span>
        </a>
    </li>
</ul>