<!-- Social Icons -->
<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Coralite Woodworks",
  "url" : "https://coralitewoodworks.com",
  "sameAs" : [
    "https://www.facebook.com/Coralitewoodworks",
    "https://www.houzz.com/pro/coralite/coralite-woodworks-llc",
    "https://www.instagram.com/coralitewoodworks",
    "https://www.linkedin.com/pub/brian-matte/72/89/1a6",
    "https://plus.google.com/u/0/+CoraliteWoodworksLLCNewtown"
    ]
}

</script>
<ul class="icons" itemscope itemtype="http://schema.org/Organization">
    <li>
        <a itemprop="sameAs" href="https://www.facebook.com/Coralitewoodworks/" title="Facebook"
           class="icon fa-facebook" target="_blank" rel="noopener">
            <span class="label">Facebook</span>
        </a>
    </li>
    <li>
        <a itemprop="sameAs" href="https://www.linkedin.com/pub/brian-matte/72/89/1a6" title="LinkedIn"
           class="icon fa-linkedin" target="_blank"
           rel="noopener">
            <span class="label">Linkedin</span>
        </a>
    </li>
    <li>
        <a itemprop="sameAs" href="https://www.houzz.com/pro/coralite/coralite-woodworks-llc" title="Houzz"
           class="icon fa-houzz" target="_blank"
           rel="noopener">
            <span class="label">Houzz</span>
        </a>
    </li>
    <li>
        <a itemprop="sameAs" href="https://www.instagram.com/coralitewoodworks/" title="Instagram"
           class="icon fa-instagram" target="_blank" rel="noopener">
            <span class="label">Instagram</span>
        </a>
    </li>
    <li>
        <a itemprop="sameAs" href="https://plus.google.com/u/0/+CoraliteWoodworksLLCNewtown" title="Google"
           class="icon fa-google" target="_blank"
           rel="noopener">
            <span class="label">Google</span>
        </a>
    </li>
</ul>