<div class="row">
    <div class="4u">
        <article class="item">
            <a href="{{ url_for('additions') }}" class="image fit"><img
                    src="{{ url_for('static', filename='images/Design Portfolio Photos/Additions.jpg') }}"
                    alt="Additions &amp; Renovations"/></a>
            <header>
                <h3>Additions &amp; Renovations</h3>
            </header>
        </article>
        <article class="item">
            <a href="{{ url_for('builtins') }}" class="image fit"><img
                    src="{{ url_for('static', filename='images/Design Portfolio Photos/Built In.jpg') }}"
                    alt="Built-ins &amp; Bookcases"/></a>
            <header>
                <h3>Built-ins &amp; Bookcases</h3>
            </header>
        </article>
        <article class="item">
            <a href="{{ url_for('kitchens') }}" class="image fit"><img
                    src="{{ url_for('static', filename='images/Design Portfolio Photos/Kitchens.jpg') }}"
                    alt="Kitchens"/></a>
            <header>
                <h3>Kitchens</h3>
            </header>
        </article>
        <article class="item">
            <a href="{{ url_for('paneling') }}" class="image fit"><img
                    src="{{ url_for('static', filename='images/Design Portfolio Photos/Paneling.jpg') }}"
                    alt="Paneling &amp; Wainscoting"/></a>
            <header>
                <h3>Paneling &amp; Wainscoting</h3>
            </header>
        </article>
    </div>
    <div class="4u">
        <article class="item">
            <a href="{{ url_for('basements') }}" class="image fit"><img
                    src="{{ url_for('static', filename='images/Design Portfolio Photos/Basements.jpg') }}"
                    alt="Basements"/></a>
            <header>
                <h3>Basements</h3>
            </header>
        </article>
        <article class="item">
            <a href="{{ url_for('decks') }}" class="image fit"><img
                    src="{{ url_for('static', filename='images/Design Portfolio Photos/Decks.jpg') }}"
                    alt="Decks &amp; Porches"/></a>
            <header>
                <h3>Decks &amp; Porches</h3>
            </header>
        </article>
        <article class="item">
            <a href="{{ url_for('mantels') }}" class="image fit"><img
                    src="{{ url_for('static', filename='images/Design Portfolio Photos/Mantels.jpg') }}"
                    alt="Mantels"/></a>
            <header>
                <h3>Mantels</h3>
            </header>
        </article>
        <article class="item">
            <a href="{{ url_for('tv') }}" class="image fit"><img
                    src="{{ url_for('static', filename='images/Design Portfolio Photos/TV Entertainment.jpg') }}"
                    alt="TV Entertainment Centers"/></a>
            <header>
                <h3>TV Entertainment Centers</h3>
            </header>
        </article>
        <article class="item">
            <a href="{{ url_for('stock') }}" class="image fit"><img
                    src="{{ url_for('static', filename='images/Design Portfolio Photos/Stock Cabinets.jpg') }}"
                    alt="Stock Cabinets"/></a>
            <header>
                <h3>Stock Cabinets</h3>
            </header>
        </article>
    </div>
    <div class="4u">
        <article class="item">
            <a href="{{ url_for('bathrooms') }}" class="image fit"><img
                    src="{{ url_for('static', filename='images/Design Portfolio Photos/Bathrooms.jpg') }}"
                    alt="Bathrooms &amp; Vanities"/></a>
            <header>
                <h3>Bathrooms &amp; Vanities</h3>
            </header>
        </article>
        <article class="item">
            <a href="{{ url_for('offices') }}" class="image fit"><img
                    src="{{ url_for('static', filename='images/Design Portfolio Photos/Offices.jpg') }}"
                    alt="Desks &amp; Offices"/></a>
            <header>
                <h3>Desks &amp; Offices</h3>
            </header>
        </article>
        <article class="item">
            <a href="{{ url_for('mudrooms') }}" class="image fit"><img
                    src="{{ url_for('static', filename='images/Design Portfolio Photos/Mudrooms.jpg') }}"
                    alt="Mudrooms & Closets"/></a>
            <header>
                <h3>Mudrooms & Closets</h3>
            </header>
        </article>
        <article class="item">
            <a href="{{ url_for('bars') }}" class="image fit"><img
                    src="{{ url_for('static', filename='images/Design Portfolio Photos/Bars.jpg') }}"
                    alt="Bars &amp; Wine Storage"/></a>
            <header>
                <h3>Bars &amp; Wine Storage</h3>
            </header>
        </article>
    </div>
</div>