<!-- Site Icons -->
<link rel="apple-touch-icon" sizes="57x57"
      href="{{ url_for('static', filename='images/Favicon/apple-icon-57x57.png') }}">
<link rel="apple-touch-icon" sizes="60x60"
      href="{{ url_for('static', filename='images/Favicon/apple-icon-60x60.png') }}">
<link rel="apple-touch-icon" sizes="72x72"
      href="{{ url_for('static', filename='images/Favicon/apple-icon-72x72.png') }}">
<link rel="apple-touch-icon" sizes="76x76"
      href="{{ url_for('static', filename='images/Favicon/apple-icon-76x76.png') }}">
<link rel="apple-touch-icon" sizes="114x114"
      href="{{ url_for('static', filename='images/Favicon/apple-icon-114x114.png') }}">
<link rel="apple-touch-icon" sizes="120x120"
      href="{{ url_for('static', filename='images/Favicon/apple-icon-120x120.png') }}">
<link rel="apple-touch-icon" sizes="144x144"
      href="{{ url_for('static', filename='images/Favicon/apple-icon-144x144.png') }}">
<link rel="apple-touch-icon" sizes="152x152"
      href="{{ url_for('static', filename='images/Favicon/apple-icon-152x152.png') }}">
<link rel="apple-touch-icon" sizes="180x180"
      href="{{ url_for('static', filename='images/Favicon/apple-icon-180x180.png') }}">
<link rel="icon" type="image/png" sizes="192x192"
      href="{{ url_for('static', filename='images/Favicon/android-icon-192x192.png') }}">
<link rel="icon" type="image/png" sizes="32x32"
      href="{{ url_for('static', filename='images/Favicon/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="96x96"
      href="{{ url_for('static', filename='images/Favicon/favicon-96x96.png') }}">
<link rel="icon" type="image/png" sizes="16x16"
      href="{{ url_for('static', filename='images/Favicon/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
<meta name="msapplication-TileImage"
      content="{{ url_for('static', filename='images/Favicon/ms-icon-144x144.png') }}">
<!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/html5shiv.min.js') }}"></script><![endif]-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/coralite.min.css') }}"/>
<!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('static', filename='css/ie8.css') }}" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="{{ url_for('static', filename='css/ie9.css') }}" /><![endif]-->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-75473640-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-75473640-1');
</script>
